﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Quiz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Домашняя страница", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("История сдач", "QuizPassHistory", "Quiz", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Пользователи", "Users", "Account", null, new { @class = "nav-link" })
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item">
                        <a href="/Edit/Quiz" class="nav-link">Добавить тест</a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Cписок тестов", "Quizzes", "Quiz", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Выход", "Logout", "Account", null, new { @class = "nav-link" })
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Вход", "Login", "Account", null, new { @class = "nav-link" })
                    </li>
                }

            </ul>
        </div>
    </nav>

    @if (!User.Identity.Name.IsEmpty())
    {
        <span>Hello, @User.Identity.Name!</span>
    }

    <div class="container">
        @RenderBody()

    </div>
    <footer class="fixed-bottom shadow p-2" style="background-color: #f5f5f5;">
        <div class="container"><span class="text-muted">&copy; @DateTime.Now.Year – приложение ASP.NET</span></div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
