﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*quiz pass styles*/
.content {
    margin: auto;
    width: 500px;
    min-height: 400px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    visibility: hidden;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid blue;
}

.answer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.answers {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px 10px;
}

#btn-answer,
#btn-end {
    display: none;
}


#results {
    padding-top: 20px;
}
