﻿@model IEnumerable<BLL.Dto.UserDTO>
@{
    ViewBag.Title = "Users";
}

@if (Model == null || Model.Count() == 0)
{
    <div class="col text-center">
        <h2 class="display-4">Пользователей нет</h2>
    </div>
}
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            UserName: <a href="/Account/UserInfo/@item.Id"> @item.UserName</a>
            <br />
            Roles: @item.Role
        </li>
    }
</ul>


