﻿@model BLL.Dto.UserDTO

@{
    ViewBag.Title = "UserInfo";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">userName: @Model.UserName</h5>
        <p class="card-text">
            Полное имя: &nbsp;@Model.Name
        </p>
        <p class="card-text">
            Роли: &nbsp;@Model.Role
        </p>
        @if (!Model.Role.Contains("SuperAdmin"))
        {
            if (Model.Role.Contains("Admin"))
            {
                ViewBag.BtnTitle = "Забрать админку";
            }
            else
            {
                ViewBag.BtnTitle = "Дать админку";
            }

            using (Html.BeginForm("MakeAdmin", "Account"))
            {
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="@ViewBag.BtnTitle" class="btn btn-link" />
            }
        }
        else
        {
            <b>Суперадмин!!!!</b>
        }

    </div>
</div>
