﻿@model BLL.Dto.AnswerDTO
@{
    ViewBag.Title = "EditAnswer";
    ViewBag.IsEdit = Model != null && Model.Id != 0;
    ViewBag.Act = ViewBag.IsEdit ? "UpdateAnswer" : "CreateAnswer";

    ViewBag.QuestionId = ViewBag.IsEdit ? Model.QuestionId : ViewBag.QuestionId;
}

<h4>Answer CRUD</h4>
<hr />
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <a href="/Edit/Question/@ViewBag.QuestionId">вернуться к вопросу</a>
            <hr />
        </div>
    </div>
    <div class="col">
        @using (Html.BeginForm((string)ViewBag.Act, "Edit"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.Hidden("QuestionId", (int)ViewBag.QuestionId)

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsCorrect, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsCorrect)
                            @Html.ValidationMessageFor(model => model.IsCorrect, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if (ViewBag.IsEdit)
                        {
                            <input type="submit" value="Update" class="btn btn-primary" />
                        }
                        else
                        {
                            <input type="submit" value="Create" class="btn btn-primary" />
                        }
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.IsEdit)
        {
            using (Html.BeginForm("DeleteAnswer", "Edit"))
            {
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
            }
        }
    </div>
</div>

