﻿@model BLL.Dto.QuizDTO
@{
    ViewBag.Title = "EditQuiz";
    ViewBag.IsEdit = Model != null && Model.Id != 0;
    ViewBag.Act = ViewBag.IsEdit ? "UpdateQuiz" : "CreateQuiz";
}

<h3>Quiz CRUD</h3>
<hr />

<div class="row">
    <div class="col">
        @using (Html.BeginForm((string)ViewBag.Act, "Edit"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TimeToTest, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TimeToTest, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TimeToTest, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if (ViewBag.IsEdit)
                        {
                            <input type="submit" value="Update" class="btn btn-primary" />
                        }
                        else
                        {
                            <input type="submit" value="Create" class="btn btn-primary" />
                        }

                    </div>
                </div>
            </div>
        }
        @if (ViewBag.IsEdit)
        {
            using (Html.BeginForm("DeleteQuiz", "Edit"))
            {
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
            }
        }
    </div>
    @if (ViewBag.IsEdit)
    {
        <div class="col">
            <p class="font-weight-bold">Вопросы.&nbsp;&nbsp;<a href="/Edit/Question?quiz=@Model.Id" class="badge badge-primary">Добавить вопрос</a></p>
            <div class="accordion" id="accordionExample">
                @foreach (var item in Model.Questions)
                {
                    <div class="card">
                        <div class="card-header">
                            <button class="btn text-left" data-toggle="collapse" data-target="@(String.Format("#collapse{0}", item.Id))">
                                @item.Text
                            </button>
                            <a class="card-link small" href="/Edit/Question/@item.Id">Редактировать</a>
                        </div>
                        <div id="@(String.Format("collapse{0}", item.Id))" class="collapse" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    @foreach (var answ in item.Answers)
                                    {
                                        <li>@answ.Text - @answ.IsCorrect</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
