﻿@model BLL.Dto.QuestionDTO
@{
    ViewBag.Title = "EditQuestion";
    ViewBag.IsEdit = Model != null && Model.Id != 0;
    ViewBag.Act = ViewBag.IsEdit ? "UpdateQuestion" : "CreateQuestion";

    ViewBag.QuizId = ViewBag.IsEdit ? Model.QuizId : ViewBag.QuizId;
}

<h4>Question CRUD</h4>
<hr />
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <a href="/Edit/Quiz/@ViewBag.QuizId">вернуться к тесту</a>
            <hr />
        </div>
    </div>
    <div class="col">
        @using (Html.BeginForm((string)ViewBag.Act, "Edit"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.Hidden("QuizId", (int)ViewBag.QuizId)

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if (ViewBag.IsEdit)
                        {
                            <input type="submit" value="Update" class="btn btn-primary" />
                        }
                        else
                        {
                            <input type="submit" value="Create" class="btn btn-primary" />
                        }
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.IsEdit)
        {
            using (Html.BeginForm("DeleteQuestion", "Edit"))
            {
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
            }
        }
    </div>
    @if (ViewBag.IsEdit)
    {
    <div class="col">
        <p class="font-weight-bold">Ответы.&nbsp;&nbsp;
        <a href="/Edit/Answer?question=@Model.Id" class="badge badge-primary">Добавить ответ</a></p>
        <ul class="list-group">
            @foreach (var item in Model.Answers)
            {
            <li class="list-group-item">
                <a class="card-link small" href="/Edit/Answer/@item.Id">Редактировать</a>
                &nbsp;
                <span class="font-italic">@item.IsCorrect</span>&nbsp;&mdash;&nbsp;&nbsp;@item.Text
            </li>
            }
        </ul>
    </div>
    }

</div>

