﻿@model BLL.Dto.QuizDTO

@{
    ViewBag.Title = "Quiz Page";
}


<h2>Quiz: @Model.Title</h2>
<p><span class="font-weight-bold">Описание:</span> @Model.Description</p>
@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
{
    <a class="small" href="/Edit/Quiz/@Model.Id">Редактировать</a>
}

<div class="content">
    <div id="quiz-container">
        <div class="navigation" data-quizId="@Model.Id">
            <button class="btn btn-secondary btn-sm" data-action="prev"><</button>
            <span id="current-question-indicator"></span>
            <button class="btn btn-secondary btn-sm" data-action="next">></button>
        </div>
        <div class="question-container">
            <div id="start-menu">
                <p>
                    Количество вопросов: @Model.Questions.Count
                    <br />
                    Время теста: @Model.TimeToTest сек
                </p>
                <button class="btn btn-primary" id="start-btn">Начать</button>
            </div>
            <div id="question"></div>
        </div>
        <div class="answer">
            <div class="answers" id="answers"></div>
            <button class="btn btn-outline-dark" id="btn-answer" data-action="next">Ответить</button>
            <div style="margin-left: auto;">
                <button class="btn btn-danger" id="btn-end">Завершить</button>
            </div>
        </div>
    </div>
    <div id="results"></div>
    <div style="height:100px"></div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/QuizPassMyScript.js")"></script>
}




