﻿@model IEnumerable<BLL.Dto.QuizPassHistoryDTO>
@{
    ViewBag.Title = "History";
}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayName("User")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    <a href="/Account/UserInfo/@item.ApplicationUserId">@item.ApplicationUserName</a>
                </td>
                <td>
                    <a href="/Edit/Quiz/@item.QuizId">@item.QuizId</a>
                </td>
            </tr>
        }
    </table>
    <div style="height:100px"></div>
</div>

