﻿@model QuizSystem.Models.QuizzesViewModel
@using QuizSystem.Helpers
@{
    ViewBag.Title = "Quiz List";
}

<h1 class="text-center">Quiz List</h1>
<hr />

<div class="row">
    <div class="offset-md-4 col-md-8 col-12 mb-4">
        <form class="input-group" method="get">
            <input type="search" class="form-control rounded" name="q" placeholder="Search" value="@Request.QueryString["q"]"/>
            <button type="submit" class="btn btn-outline-primary">search</button>
        </form>
        
    </div>
   
    @if (Model.Quizzes == null || Model.Quizzes.Count() == 0)
    {
        <div class="col text-center">
            <h2 class="display-4">Список тестов пуст</h2>
            <p>
                Попробуйте найти что-то другое или возвращайтесь позже.
            </p>
        </div>
    }
    else
    {
        foreach (var item in Model.Quizzes)
        {
            <div class="col-md-4">
                <h2>@item.Title</h2>
                <p>
                    @item.Description
                </p>
                <p>@Html.ActionLink("детали \u00BB", "QuizPage", "Quiz", new { id = item.Id }, new { @class = "btn btn-secondary" })</p>
            </div>
        }
        <div class="col-12" style="min-height: 120px;">
            <hr />
            <nav aria-label="..." class="d-flex justify-content-center">
                <ul class="pagination">
                    @Html.PageLinks(Model.PageInfo, x => Url.Action("Quizzes", new { q = Request.QueryString["q"], page = x }))
                </ul>
            </nav>
        </div>
    }
</div>

