﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quiz</h1>
    <p class="lead">lorem ipsum dolor sit amet</p>
    <p>@Html.ActionLink("Список тестов \u00BB", "Quizzes", "Quiz", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

